<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>

<body class="bg-teal-100">

    <!-- 🔝 Navbar -->
    <nav class="flex justify-between items-center px-10 py-4 bg-white shadow">
        <!-- <h2 class="text-xl font-bold">💰 GeekWallet</h2> -->
        <h2 class="text-xl font-bold flex items-center gap-2">
            <i class="fa-solid fa-wallet text-green-500"></i>
            GeekWallet
        </h2>

        <div class="space-x-6">
            <a href="/about" class="hover:text-blue-500">About</a>
            <a href="/support" class="hover:text-blue-500">Support</a>
            <a href="/login" class="hover:text-blue-500">Login</a>
        </div>
    </nav>

    <!-- 🧱 Hero Section -->
    <section class="flex items-center justify-between px-16 py-20">

        <!-- Left -->
        <div class="max-w-lg">
            <h1 class="text-5xl font-bold mb-6 mt-20">
                Take Control of Your Money, One Step at a Time
            </h1>

            <p class="text-gray-600 mb-6">
                Track your income and expenses, manage budgets,
                
                and reach your financial goals with ease.
            </p>
            <a href="/dashboard" class="bg-blue-500 text-white px-6 py-3 rounded-lg shadow hover:bg-blue-600">
                Get Started Balala
            </a>
            <a href="/home" class="bg-blue-500 text-white px-6 py-3 rounded-lg shadow hover:bg-blue-600">
                Get Started
            </a>
        </div>

        <!-- Right -->
        <!-- <div>
            <img src="https://cdn-icons-png.flaticon.com/512/2331/2331966.png" class="w-96">
        </div> -->

    </section>

</body>

</html>